
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light">
    <span class="logo-lg">
        <img src="assets/assets/images/LOGO1.png" alt="logo">
    </span>
    <span class="logo-sm">
        <img src="assets/assets/images/LOGO1.png" alt="small logo">
    </span>
</a>

<!-- Brand Logo Dark -->
<a href="index.html" class="logo logo-dark">
    <span class="logo-lg">
        <img src="assets/assets/images/LOGO1.png" alt="dark logo">
    </span>
    <span class="logo-sm">
        <img src="assets/assets/images/LOGO1.png" alt="small logo">
    </span>
</a>


    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="pages-profile.html">
                <img src="assets/assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
                <span class="leftbar-user-name mt-2">Tosha Minner</span>
            </a>
        </div>

<!--- Sidemenu -->
<!--- Sidemenu -->



<ul class="side-nav" style="margin-top: 30px;">

    <!-- Dashboard -->
    <li class="side-nav-item">
        <a href="homeAdmin" class="side-nav-link">
            <i class="ri-home-4-line"></i>
            <span>DASHBOARDS</span>
        </a>
    </li>

    <!-- Section : Contacts -->
    <li class="side-nav-title" style="color: #6a686a;">Contacts</li>

    <li class="side-nav-item">
        <a href="listeContact" class="side-nav-link">
            <i class="ri-mail-line"></i> <!-- Icône modifiée -->
            <span>Contact</span>
        </a>
    </li>

    <!-- Section : Clients -->
    <li class="side-nav-title" style="color: #6a686a;">>Gestion des Clients</li>

    <li class="side-nav-item">
        <a href="listeClient" class="side-nav-link">
            <i class="ri-team-line"></i>
            <span>Liste Clients</span>
        </a>
    </li>

    <!-- Section : Gestion d'Équipe -->
    <li class="side-nav-title" style="color: #6a686a;" >>Gestion d'Équipe</li>

    <li class="side-nav-item">
        <a href="ajouterChef" class="side-nav-link">
            <i class="ri-user-add-line"></i>
            <span>Créer un Gestionnaire</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="listeChefEquipe" class="side-nav-link">
            <i class="ri-user-star-line"></i>
            <span>Liste Gestionnaires d'Équipe</span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="listeDeveloppeur" class="side-nav-link">
            <i class="ri-code-box-line"></i>
            <span>Liste Développeurs</span>
        </a>
    </li>

    <!-- Section : Projets -->
    <li class="side-nav-title" style="color: #6a686a;">>Gestion de Projets</li>

    <li class="side-nav-item">
        <a href="listeProjet" class="side-nav-link">
            <i class="ri-folders-line"></i>
            <span>Liste Projets</span>
        </a>
    </li>
<li class="side-nav-item" style="margin-top: 70px; border-top: 1px solid #eeeeee;"></li>
    <li class="side-nav-item">
  <a (click)="logout()" class="side-nav-link" style="cursor: pointer;">
    <i class="ri-logout-circle-line"></i>
    <span>Déconnexion</span>
  </a>
</li>

</ul>


        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>